services:
  docker-in-docker:
    image: {{ forgejo_runner_dind_image }}
    privileged: true
    command:
      - dockerd
      - -H
      - unix:///run/runner-docker/docker.sock
      - --group
      - "1001"
    volumes:
      - runner-docker-socket:/run/runner-docker
    restart: unless-stopped

  runner:
    image: {{ forgejo_runner_image }}
    depends_on:
      - docker-in-docker
    environment:
      DOCKER_HOST: unix:///run/runner-docker/docker.sock
    user: "1001:1001"
    volumes:
      - {{ forgejo_runner_data_dir }}:/data
      - runner-docker-socket:/run/runner-docker
    restart: unless-stopped
    command: >-
      /bin/sh -c "{% if forgejo_runner_registered | bool %}sleep 5; forgejo-runner daemon --config /data/.runner{% else %}sleep infinity{% endif %}"

volumes:
  runner-docker-socket:
